@model TheWall.Models.UserReg
<div asp-validation-summary="All"></div>
<h1>Register</h1>
<form method="post">
    <input asp-for="FirstName" placeholder="First Name">
    <input asp-for="LastName" placeholder="Last Name">
    <input asp-for="Email" placeholder="Email">
    <input asp-for="Password" placeholder="Password">
    <input asp-for="ConfirmPassword" placeholder="Confirm Password">
    <input type="submit" value="Register">
</form>
<a href="/login">Already have an account? Click here to login!</a>